In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
id(a)

4380992064

In [4]:
hex(id(a))

'0x10520a240'

In [5]:
a = a + 1
hex(id(a))

'0x10520a260'

In [10]:
list1 = [1,2]

hex(id(list1))

'0x10cb1a580'

In [11]:
list1.append(3)

hex(id(list1))

'0x10cb1a580'

// Tuples

In [14]:
tup1 = ("bio", "name", "id")

#tup1[0] = "hello"


print(tup1)

hex(id(tup1))

('bio', 'name', 'id')

'0x10cae6080'

In [15]:
b = list(tup1)
print(b)
print(type(b))
hex(id(b))

['bio', 'name', 'id']
<class 'list'>

'0x10cb5cb40'

In [17]:
set1 = {2,3,5,4,1}
print(set1)

set1.add('hi')
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'hi'}

More function of list and set

In [18]:
# This code will remove dublicate from list using set 

a = [1,2,3,3232332,33,33,3,33,232,1,1,0,"add"]

# method 1 

a = set(a)
a = list(a)

print(a)

[0, 1, 2, 3, 33, 232, 3232332, 'add']

In [19]:
a = [1,2,3,3232332,33,33,3,33,232,1,1,0,"add"]

# method 2 

a = list(set(a))

print(a)

[0, 1, 2, 3, 33, 232, 3232332, 'add']

In [20]:
# extend (list)

a = [1,2,3]
print(id(a))

b = ["hello" , 'hi']

a = a + b

print(a)
print(id(a))

4508208192
[1, 2, 3, 'hello', 'hi']
4508433280

In [21]:
a = [1,2,3]
print(id(a))
b = ["hello" , 'hi']

a.extend(b)

print(a)
print(id(a))

4434315456
[1, 2, 3, 'hello', 'hi']
4434315456

In [23]:
# update for set 

a = {1,2,3}
print(id(a))
b = {"hello" , 'hi'}

a.update(b)

print(a)
print(id(a))

4507731328
{1, 2, 3, 'hello', 'hi'}
4507731328

In [2]:
# Task is to store employee details 

# lets store employee details using their id

emp_details = {
    "001" : ["monal", "india"],
    "002" : ["lucas", "brazil"],
    "003" : ["ashar", "Saudi Arabia", 2],
    "001" : ["riyan","india"]
}

In [26]:
emp_details["001"]

['riyan', 'india']

In [27]:
print(emp_details)

{'001': ['riyan', 'india'], '002': ['lucas', 'brazil'], '003': ['ashar', 'Saudi Arabia', 2]}

In [29]:
emp_details["002"][0]

'lucas'

In [30]:
emp_details["002"][0] = "LUCAS"

In [31]:
print(emp_details)

{'001': ['riyan', 'india'], '002': ['LUCAS', 'brazil'], '003': ['ashar', 'Saudi Arabia', 2]}

In [33]:
course_details = {
                "001" : {
                    "name" : "monal",
                    "ph.no": 21324234,
                    "address": "india",
                    "mentor_details":{
                        "beginner_courses" : ["Data Science and Gen AI"],
                        "advance_course" : ["Computer Vision"]
                    }
                },
                "002" : {
                    "name" : "krish",
                    "ph.no": 538748723,
                    "address": "usa",
                    "mentor_details":{
                        "beginner_courses" : ["Python"],
                        "advance_course" : ["Computer Vision"]
                    }
                }
}

In [34]:
course_details['001']

{'name': 'monal',
 'ph.no': 21324234,
 'address': 'india',
 'mentor_details': {'beginner_courses': ['Data Science and Gen AI'],
  'advance_course': ['Computer Vision']}}

In [35]:
course_details['001']['mentor_details']['advance_course']

['Computer Vision']

In [36]:
print(course_details)

{'001': {'name': 'monal', 'ph.no': 21324234, 'address': 'india', 'mentor_details': {'beginner_courses': ['Data Science and Gen AI'], 'advance_course': ['Computer Vision']}}, '002': {'name': 'krish', 'ph.no': 538748723, 'address': 'usa', 'mentor_details': {'beginner_courses': ['Python'], 'advance_course': ['Computer Vision']}}}

In [39]:
course_details["003"] = [1,2,3]

In [40]:
print(course_details)

{'001': {'name': 'monal', 'ph.no': 21324234, 'address': 'india', 'mentor_details': {'beginner_courses': ['Data Science and Gen AI'], 'advance_course': ['Computer Vision']}}, '002': {'name': 'krish', 'ph.no': 538748723, 'address': 'usa', 'mentor_details': {'beginner_courses': ['Python'], 'advance_course': ['Computer Vision']}}, '003': [1, 2, 3]}

In [41]:
course_details.keys()

dict_keys(['001', '002', '003'])

In [42]:
course_details.values()

dict_values([{'name': 'monal', 'ph.no': 21324234, 'address': 'india', 'mentor_details': {'beginner_courses': ['Data Science and Gen AI'], 'advance_course': ['Computer Vision']}}, {'name': 'krish', 'ph.no': 538748723, 'address': 'usa', 'mentor_details': {'beginner_courses': ['Python'], 'advance_course': ['Computer Vision']}}, [1, 2, 3]])

In [44]:
type(course_details.keys())

dict_keys

In [45]:
emp_details.values()

dict_values([['riyan', 'india'], ['LUCAS', 'brazil'], ['ashar', 'Saudi Arabia', 2]])

# Loops

In [46]:
for i in range(1,11):
    print(2 *i )

2
4
6
8
10
12
14
16
18
20

In [49]:
fruits = ["apples","oranges","grapes"]
iterable = iter(fruits)

In [50]:
print(next(iterable))

apples

In [51]:
for fruit in fruits:
    print(fruit)

apples
oranges
grapes

In [52]:
print('Traversing Started ...')

for i in fruits:
    print(i)

print('Traversing End')

Traversing Started ...
apples
oranges
grapes
Traversing End

In [58]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [1]:
for i in range (10 , 0, -2) :
    print(i)

10
8
6
4
2

In [3]:
for value in emp_details.keys():
    print(value)

001
002
003

In [4]:
for value in emp_details.keys():
    print(emp_details[value])

['riyan', 'india']
['lucas', 'brazil']
['ashar', 'Saudi Arabia', 2]

'''
*
**
***
****

In [ ]:
'''
*
**
***
****
'''

In [11]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [12]:
for i in range(1,6,2):
    print("*"*i)

*
***
*****

In [22]:
max = 3
for i in range(2,-1,-1):
    print('-'*i,end="")
    print((max - i)*'*')

--*
-**
***

In [23]:
# problem statement 
# there is a defaulter which we don't want to include for the attendance.

student_id = 6 

for i in range(1,11):
    if i == student_id:
        continue
    print("Student ID : ", i)

Student ID :  1
Student ID :  2
Student ID :  3
Student ID :  4
Student ID :  5
Student ID :  7
Student ID :  8
Student ID :  9
Student ID :  10

In [24]:
student_id = [1,4,5,9]

for i in range(1,11):
    if i in student_id:
        continue
    print(i)

2
3
6
7
8
10

In [25]:
# Assignment 
# { 1 : "Menu" . .. . ... 10: "name"} - student data 
# list of defaulter [ ]
# output [list of name consider for attendance]

student_data = { 1 : 'Monal',
                 2 : "Anu",
                 3: "anji",
                 4: "pramod",
                 5: "anshu",
                 6: "nityansh",
                 7: "ankit",
                 8: "nikita",
                 9: "ansh",
                 10: "gonu"}

student_data.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [29]:
student_defaulter_id = [3,6,9]

for i in range(1,11):
    if i in student_defaulter_id:
        continue
    print("Sutdent consider for attendance :", student_data[i])

Sutdent consider for attendance : Monal
Sutdent consider for attendance : Anu
Sutdent consider for attendance : pramod
Sutdent consider for attendance : anshu
Sutdent consider for attendance : ankit
Sutdent consider for attendance : nikita
Sutdent consider for attendance : gonu

In [5]:
#row = 1 start = 1   space = 3
#row = 2 star = 3   space = 2
#row = 3 star = 5   space = 1 
# row = 4 star = 7.  space =0 

star=1
for space in range(3,-1,-1):
    print('-'* space, end="")
    print('*'*star)
    star +=2

---*
--***
-*****
*******

In [51]:
# while loop
# print everything till 9, given values 0 -100 

i = 0

while i <= 8:
    print(i)

    i+=1

0
1
2
3
4
5
6
7
8